@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-soft: #f3f3f3;
}

.content {
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075) inset;
}

.header {
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sidebar {}

.show-sidebar-btn {}

.card {
    border: none;
}

.status-card {
    transition: 0.3s;
}

.status-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.status-card:active {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.ov-img {
    margin-left: -25px;
}

.item-carousel {
    margin-top: -100px;
}

.item-card-img {
    width: 200px;
}

.sub-list tr {
    transition: 0.3s;
    cursor: pointer;
}

.sub-list tr:active {
    transform: scale(1.03);
}

.full-screen-card {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2005;
    overflow: scroll;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width:770px) {
    .sidebar {
        position: fixed;
        width: 300px;
        display: block !important;
        z-index: 2001;
        margin-left: -100%;
        background-color: white;
    }
    .item-carousel-card {
        margin-top: 80px;
    }
}